// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map { 
}

body {
  background-color: #252525;
}

.category {
	color: grey;
}


circle {
	fill: red;
	stroke: white;
	stroke-width: 2;
	opacity: 1.0;
}


#tooltip {
        position: absolute;
        width: 175px;
        padding: 10px;
        background-color: rgba(255,255,255,.75);
        border-radius: 6px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

#tooltip.hidden {
  display: none;
}
