// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map { 
}

body {
  background-color: #252525;
  color: white;
}

.category {
	color: grey;
}


circle {
	fill: red;
	stroke: white;
	stroke-width: 2;
	opacity: 1.0;
}


#tooltip {
        position: absolute;
        width: 175px;
        padding: 10px;
        background-color: rgba(255,255,255,1.0);
        border-radius: 6px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        color: black;
}

#tooltip.hidden {
  display: none;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #FFF;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
  fill: white;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

#hour-chart {
  width: 260px;
}

#date-chart {
  width: 800px;
}

#totals {
  // position: absolute;
  // position: relative;
  // left: 940px;
  font-size: smaller;
  // float: right;
  // width: 220px;
}

