<footer class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 columns">
        <h6 class='subheader'>
	        By <a href="https://github.com/samuelleach/transportview">Samuel Leach</a>.
			Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Map data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>. Disruption data from <a href="http://www.tfl.gov.uk/businessandpartners/syndication/16492.aspx">Transport for London</a>. Data rendered with <a href="http://d3js.org">D3</a> and filtered with <a href="http://square.github.io/crossfilter/">Crossfilter</a>.
	    </h6>
      </div>
      <div class="large-6 columns">
      </div>
    </div>
  </div>
</footer>
